body {
    padding-bottom: 60px;
}
ul {
    list-style-type: none;
}

#btn-submit {
    margin-top: 10px;
}

#btn-download {
    margin-top: 10px;
}

#messages {
    height: 250px;
    overflow-y: auto;
    position: relative;
    word-wrap: normal;
    bottom: 0;
}

#uploadedFiles {
    height: 250px;
    overflow-y: auto;
    position: relative;
    word-wrap: normal;
    bottom: 0;
}

#friends-list li {
    cursor:pointer;
}

#friends-list li:hover:not(.selected-user) {
    background-color: ghostwhite;
}

.selected-user, .selected-user:hover {
    background-color: aliceblue;
}


input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

