body {
    padding-bottom: 60px;
}
ul {
    list-style-type: none;
}

#btn-submit {
    margin-top: 10px;
}

#btn-uploadFile {
    margin-top: 10px;
    margin-left: 10px;
}

#messages {
    height: 250px;
    overflow-y: auto;
    position: relative;
    word-wrap: normal;
    bottom: 0;
}

#uploadedFiles {
    height: 250px;
    overflow-y: auto;
    position: relative;
    word-wrap: normal;
    bottom: 0;
}

#friends-list li {
    cursor:pointer;
}

#friends-list li:hover:not(.selected-user) {
    background-color: ghostwhite;
}

.selected-user, .selected-user:hover {
    background-color: aliceblue;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

