
ul {
    list-style-type: none;
}

#btn-submit {
    margin-top: 10px;
}

#messages {
    height: 100px;
    overflow-y: auto;
    position: relative;
    word-wrap: normal;
    bottom: 0;
}

#friends-list {

}

.panel {

}

#friends-list li:hover {
    background-color: aliceblue;
    cursor: pointer;
}

